*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkblue;
}

.container{
    width: 1000px;
    height: 1000px;
    margin: 3rem auto;
    background-color: aqua;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.square{
    width: calc(100%/10);
    height: calc(100%/10);
    cursor: pointer;
    background-color: rgb(137, 83, 204);
    outline: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.even.clicked{
    background-color: red;
}

.odd.clicked{
    background-color: greenyellow;
}